.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    .spacer {
        flex: 1;
    }
    a,
    button {
        margin-left: 10px;
    }
}

.mat-column-upm {
    Word-wrap: break-Word !important;
    white-space: unset !important;
    flex: 0 0 90% !important;
    width: 10% !important;
    overflow-wrap: break-Word;
    Word-wrap: break-Word;
  
    Word-break: break-Word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-prefixo {
    Word-wrap: break-Word !important;
    white-space: unset !important;
    flex: 0 0 90% !important;
    width: 10% !important;
    overflow-wrap: break-Word;
    Word-wrap: break-Word;
  
    Word-break: break-Word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


.mat-column-tombamento {
    Word-wrap: break-Word !important;
    white-space: unset !important;
    flex: 0 0 90% !important;
    width: 15% !important;
    overflow-wrap: break-Word;
    Word-wrap: break-Word;
  
    Word-break: break-Word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-tipoViatura {
    Word-wrap: break-Word !important;
    white-space: unset !important;
    flex: 0 0 90% !important;
    width: 15% !important;
    overflow-wrap: break-Word;
    Word-wrap: break-Word;
  
    Word-break: break-Word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-modeloVeiculo {
    Word-wrap: break-Word !important;
    white-space: unset !important;
    flex: 0 0 90% !important;
    width: 26% !important;
    overflow-wrap: break-Word;
    Word-wrap: break-Word;
  
    Word-break: break-Word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-placa {
    Word-wrap: break-Word !important;
    white-space: unset !important;
    flex: 0 0 90% !important;
    width: 10% !important;
    overflow-wrap: break-Word;
    Word-wrap: break-Word;
  
    Word-break: break-Word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-odometro {
    Word-wrap: break-Word !important;
    white-space: unset !important;
    flex: 0 0 90% !important;
    width: 10% !important;
    overflow-wrap: break-Word;
    Word-wrap: break-Word;
  
    Word-break: break-Word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-ativo {
    Word-wrap: break-Word !important;
    white-space: unset !important;
    flex: 0 0 90% !important;
    width: 15% !important;
    overflow-wrap: break-Word;
    Word-wrap: break-Word;
  
    Word-break: break-Word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}



