.col-placaUf {
    width:32%
}

.col-renavam-chassi-nMotor {
    width:77%
}

.col-cor-anoFab-anoMod {
    width:60%
}

.col-modeloVeiculo {
    width:25%
}

.col-tipoCombustivel {
    width:25%
}

.col-prefixo {
    width:34.7%
}

.col-tipoViatura {
    width:34%
}

.col-upm {
    width:34%
}

.col-upm-select {
    width:34.7%
}

