.category-anchor {
    display: flex;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    align-items: center;
    height: 50px;

    .menu-icon {
        height: 30px;
        margin-right: 10px;
        font-size: 2.1em;
    }

    span {
        font-size: 1em;
        margin-left: 5px;
    }
}

ul {
    list-style: none;
    padding: 0;
    a {
        padding-left: 30px;
        .menu-icon {
            height: 20px;
            margin-right: 5px;
            font-size: 1.5em;
        }
    }

    li:hover {
        background-color: black;
    }
}

.active {
    color: #18182b;
}

.expand-icon {
    margin-left: -10px;
    overflow: hidden;
}

.spacer {
    flex: 1;
}
