<app-breadcrumb
    title="Visualizar Motivo da Exclusão da Viatura"
    path="SGF > Motivo da Exclusão da Viatura > Visualizar"
></app-breadcrumb>
<form [formGroup]="form">
    <mat-card>
        <mat-card-content>
            <div
                fxLayout="row"
                fxLayout.lt-sm="column"
                fxLayoutGap.gt-xs="15px grid"
            >
                <app-input
                    fxFlex
                    type="text"
                    formControlName="nome"
                    label="Motivo de Exclusão"
                >
                </app-input>
            </div>
            <div
                fxLayout="row"
                fxLayout.lt-sm="column"
                fxLayoutGap.gt-xs="15px grid"
            >    
                <mat-label>Status</mat-label>
                <mat-slide-toggle
                    fxFlex="10"
                    formControlName="ativo"
                    color="primary"
                ></mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>
</form>

