a {
    display: flex;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    align-items: center;
    height: 44px;

    .menu-icon {
        height: 30px;
        margin-right: 10px;
        font-size: 2.1em;
    }

    span {
        font-size: 1em;
        margin-left: 5px;
    }
}

.subitem {
    padding-left: 30px;
    .menu-icon {
        height: 22px;
        margin-right: 10px;
        font-size: 1.5em;
    }
    span {
        font-size: 1em;
        margin-left: 0px;
    }
}

.active {
    background-color: #212121;
}
